<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dagf.hmk">

    <application
        android:name=".HMKApplication"
        >

        <service
            android:name=".services.HMKPushServices"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <meta-data
            android:name="install_channel"
            android:value="AppGallery">
        </meta-data>

    </application>

</manifest>